body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2015467a;
    text-align: center;
}

header {
    background: rgb(62, 59, 68);
    color: #070202;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #b59f13;
    text-decoration: none;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

section {
    padding: 20px;
    background: #4c6471af;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

